@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');

:root{
    /*Font and Typography*/
    --heading-font: 'Poppins', sans-serif;
    --body-font: 'Open Sans', sans-serif;

    /*Colors*/
    --button-color: hsl(322, 100%, 66%);
    --button-hover-color: hsl(322, 100%, 66%);
    --error-validation-color: hsl(0, 100%, 63%);
    --footer-color: hsl(192, 100%, 9%);
    --section-curved-bg-color: hsl(207, 100%, 98%);
    --social-media-hover-color: #06C5F1;
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, 
body{
    font-family: var(--body-font);
    overflow-x: hidden;
}

a{
    color: black;
    text-decoration: none;
}