@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');

:root{
    /*Font and Typography*/
    --heading-font: 'Poppins', sans-serif;
    --body-font: 'Open Sans', sans-serif;

    /*Colors*/
    --button-color: hsl(322, 100%, 66%);
    --button-hover-color: hsl(321, 100%, 78%);
    --error-validation-color: hsl(0, 100%, 63%);
    --footer-color: hsl(192, 100%, 9%);
    --section-curved-bg-color: hsl(207, 100%, 98%);
    --social-media-hover-color: #06C5F1;
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, 
body{
    font-family: var(--body-font);
    overflow-x: hidden;
    width: 100vw;
}

main{
    width: 100%;
}

a{
    color: black;
    text-decoration: none;
}

.container{
    padding: 1.75em;
}

.wrapper{
    height: 100vh;
}

.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4em;
}

.logo{
    max-width: 100%;
}

.logo-container{
    width: 40%;
}

.header-button{
    border-radius: 1.75rem;
    font-size: 0.813rem;
    padding: 0.25rem 0.75rem 0.25rem 0.75rem;
    background: none;
    color: var(--button-color);
    border: 1px solid var(--button-color);
    transition: 0.2s;
}

.header-button:hover{
    color: var(--button-hover-color);
    border-color: var(--button-hover-color);
}

.first-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.first-section-title{
    font-family: var(--heading-font);
    text-align: center;
    font-size: 1.75rem;
    margin-bottom: 1.25rem;
}

.first-button{
    display: flex;
    justify-content: center;
}

.first-section-description{
    text-align: center;
    font-size: 1.05rem;
    margin-bottom: 4rem;
}

.button{
    background: none;
    background-color: var(--button-color);
    padding: 0.75rem 1.75rem 0.75rem 1.75rem;
    border-radius: 2rem;
    color: white;
    transition: 0.2s;
}

.button:hover{
    background-color: var(--button-hover-color);
}

.btn-1{
    text-align: center;
    margin-bottom: 8rem;
}

.first-section-illustration{
    width: 100%;
    margin-bottom: 4rem;
}

.first-section-illustration img{
    max-width: 100%;
}

.big-info{
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
    align-items: center;
    margin-bottom: 4rem;
}

.big-info-icon{
    width: 15%;
}

.big-info-content{
    width: 70%;
}

.big-info-title{
    font-size: 4rem;
}

.grow-section{
    display: flex;
    flex-direction: column-reverse;
    row-gap: 4rem;
}

.section-title{
    font-size: 1.5rem;
    font-family: var(--heading-font);
    text-align: center;
    margin-bottom: 2rem;
}

.section-description{
    text-align: center;
    margin-bottom: 4rem;
}